* {
	margin: 0;
}
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
}
#wrap {
  min-height: 100%;
	margin-bottom: -100px; 
}
#wrap:after {
  content: "";
  display: block;
}

footer, #wrap:after {
	height: 100px; 
}

footer {
  clear:both;
  padding-top:20px;
  color: #999999;
  font-size: 0.9rem;
}

.container {
  padding-bottom: 32px;
}

.container-fluid{

  padding-top: 10px;
}

.custom-select {
  background: #FFFFFF;
  background-image: none !important;
}

.form-header{
  width: 100%;
}