.axis--x path, .axis--y path {
  stroke: #bbb;
}
.tick line {
  stroke: #bbb;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}


.d3-chart {
  width: 100%;
  height: 400px;
  padding-right: 20px;
}