<div id="wrap">
  <div class="container-fluid">
    <div class="row row-header">
      <div class="col-md-6 col-header">
        <h3><i class="zmdi zmdi-trending-up"></i> Angular Stocks</h3>
      </div>
      <div class="col-md-6 col-header">
        <stockpicker (notify)='addStock($event)'></stockpicker>
      </div>
    </div>
    <div class="row row-header">
      <div class="col-md-6 col-header">
        <span  *ngIf="!errorMessage.search && !errorMessage.date && !errorMessage.remove">
          Syncs in realtime across clients
        </span><span  *ngIf="errorMessage.search && !errorMessage.date && !errorMessage.remove" class="alert alert-danger">
          {{errorMessage.search}}
        </span><span  *ngIf="!errorMessage.search && errorMessage.date && !errorMessage.remove" class="alert alert-danger">
          {{errorMessage.date}}
        </span><span  *ngIf="errorMessage.search && errorMessage.date && !errorMessage.remove" class="alert alert-danger">
          Date range and stock symbol are not valid
        </span><span  *ngIf="errorMessage.remove" class="alert alert-danger">
          {{errorMessage.remove}}
        </span>
      </div>
      <div class="col-md-3 col-header">
        <datepicker #fromDate (notify)="setDate($event, 'from')"></datepicker>
      </div>
      <div class="col-md-3 col-header">
        <datepicker #toDate (notify)="setDate($event, 'to')"></datepicker>
      </div>
    </div>
    <div class="row">
      <div class="col-sm" style="height: 350px;">
        <!--<linechart *ngIf="chartData" [data]="chartData"></linechart>-->
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-sm">
        <stocktiles [companyCollection]="companyCollection" (notify)='removeStock($event)'></stocktiles>
      </div>
    </div>
</div>
<footer class="text-center">
  <p>FreeCodeCamp &nbsp; | &nbsp; <i class="zmdi zmdi-github-alt"></i> &nbsp; <a href="https://github.com/cjsheets">Chad Sheets</a></p>
</footer>